<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

<div>
  <app-menu></app-menu>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <button mat-icon-button>
      <mat-icon (click)="this.callNew()">add_circle_outline</mat-icon>
    </button>
    <mat-table #table [dataSource]="this.dataSource" matSort class="table-striped">
      <ng-container matColumnDef="nrNota">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nrNota}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dsClienteFornecedor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Fornecedor</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clienteFornecedor.dsNomeRazao}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nrChaveAcesso">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Chave de acesso</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nrChaveAcesso}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="vlTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{"R$" + element.vlTotal}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dtRegistro">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Data Lançamento</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{datePipe.transform(element.dtRegistro, 'dd/MM/yyyy')}}
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="editColumn">
        <mat-header-cell *matHeaderCellDef>Edição</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon (click)="this.callUpdate(element.cdNotaEntrada)">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="this.deleteConfirmation(element.cdNotaEntrada)">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="this.displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: this.displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="row">
  <div class="row footer-btn">
    <div class="button-row col s12">
      <button mat-raised-button color="green" (click)="this.exportAsXLSX()">Gerar relatório em Excel</button>
    </div>
  </div>
</div>