<!--#region Dados gerais da O.S-->
<div class="row">
  <div class="col s12 m1 l1">
    <mat-form-field>
      <input matInput placeholder="Código" type="number" [(ngModel)]="ordemServico.cdOrdemServico" disabled>
    </mat-form-field>
  </div>
  <div class="col s12 m1 l1">
    <mat-form-field>
      <input matInput [matDatepicker]="dtAbertura" [min]="minDate" placeholder="Abertura"
        [(ngModel)]="ordemServico.dtAbertura" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dtAbertura"></mat-datepicker-toggle>
      <mat-datepicker #dtAbertura></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col s12 m1 l1">
    <mat-form-field>
      <input matInput [matDatepicker]="dtPrevConclusao" [min]="minDate" placeholder="Prev. conclusão"
        [(ngModel)]="ordemServico.dtPrevConclusao" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dtPrevConclusao"></mat-datepicker-toggle>
      <mat-datepicker #dtPrevConclusao></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col s12 m1 l1">
    <mat-form-field>
      <input matInput [matDatepicker]="dtConclusao" [min]="minDate" placeholder="Conclusão"
        [(ngModel)]="ordemServico.dtConclusao" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dtConclusao"></mat-datepicker-toggle>
      <mat-datepicker #dtConclusao></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field class="cliente">
      <input matInput type="text" placeholder="Escolha um cliente" [(ngModel)]="ordemServico.cdClienteFornecedor"
        [matAutocomplete]="auto" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let element of this.clienteList" [value]="element.dsNomeRazao">
          {{element.dsNomeRazao + " - " + element.nrCpfCnpj}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <input matInput placeholder="Descrição da bicicleta do cliente" type="text"
        [(ngModel)]="ordemServico.dsBicicleta"> 
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col s12 m4 l4">
    <mat-form-field>
      <textarea matInput placeholder="Observações" type="text" [(ngModel)]="ordemServico.dsObservacao"
        matTextareaAutosize matAutosizeMinRows=5></textarea>
    </mat-form-field>
  </div>
</div>
<!--#endregion-->
<!--#region Lista de produtos-->
<div class="row">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Produtos</mat-panel-title>
        <mat-panel-description>Insira os produtos utilizados na O.S</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col s12 m3 l3">
          <mat-form-field class="municipio">
            <input matInput type="text" placeholder="Selecione o produto" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let element of this.produtoList" (onSelectionChange)="setProduto(element)"
                [value]="element.dsProduto">
                {{element.dsProduto + " - " + element.dsModelo}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="grey" (click)="this.backward()">Adicionar Produto +</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--#endregion-->
<!--#region Lista de Serviços-->
<div class="row">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Serviços</mat-panel-title>
        <mat-panel-description>Insira os serviços da O.S</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row footer-btn">
        <div class="button-row col s12">
          <button mat-raised-button color="grey" (click)="this.backward()">Adicionar Produto +</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m3 l3">
          <mat-form-field>
            <input matInput placeholder="Teste" type="text" [(ngModel)]="ordemServico.dsObservacao">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--#endregion-->
<!--#region Botoes-->
<div class="row">
  <div class="col s12 m2 l2">
    <mat-form-field>
      <input matInput placeholder="Valor Total: R$400,00" type="number" [(ngModel)]="ordemServico.vlTotal" disabled>
    </mat-form-field>
  </div>
</div>
<!--#endregion-->