.mat-raised-button {
    margin-top: 40px;
    margin-right: 60px;
}

.mat-form-field {
    margin-left: 40px;
}

.mat-expansion-panel {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}