<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

<div>
    <app-menu></app-menu>
</div>

<!--#region Informações gerais da Nota de Entrada-->
<div class="row">
    <div class="col s12 m2 s2">
        <mat-form-field>
            <input matInput placeholder="Código" type="number" [(ngModel)]="notaEntrada.cdNotaEntrada" disabled>
        </mat-form-field>
    </div>
    <div class="col s12 m2 s2">
        <mat-form-field>
            <input matInput placeholder="Número" type="number" [(ngModel)]="notaEntrada.nrNota" required>
        </mat-form-field>
    </div>
    <div class="col s12 m2 s2">
        <mat-form-field>
            <input matInput placeholder="Série" type="number" [(ngModel)]="notaEntrada.nrSerie" required>
        </mat-form-field>
    </div>
    <div class="col s12 m2 s2">
        <mat-form-field>
            <input matInput [matDatepicker]="dtEmissao" [max]="maxDate" placeholder="Emissão"
                [(ngModel)]="notaEntrada.dtEmissao">
            <mat-datepicker-toggle matSuffix [for]="dtEmissao"></mat-datepicker-toggle>
            <mat-datepicker #dtEmissao></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 l8">
        <mat-form-field class="cliente">
            <input matInput type="text" placeholder="Selecione o fornecedor" [matAutocomplete]="autoClient" required>
            <mat-autocomplete #autoClient="matAutocomplete">
                <mat-option *ngFor="let element of this.fornecedorList" (onSelectionChange)="setFornecedor(element)"
                    [value]="element.dsNomeRazao">
                    {{element.dsNomeRazao + " - " + element.nrCpfCnpj}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 s8">
        <mat-form-field>
            <input matInput placeholder="Chave de acesso" type="number" [minLength]="44" [maxLength]="54"
                [(ngModel)]="notaEntrada.nrChaveAcesso" required>
        </mat-form-field>
    </div>
    <div class="col s12 m2 s2">
        <mat-form-field>
            <input matInput placeholder="Parcelas" type="number" [(ngModel)]="conta.qtParcelas" required>
        </mat-form-field>
    </div>
</div>
<!--#endregion-->
<!--#region Lista de produtos-->
<div class="row">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Produtos</mat-panel-title>
                <mat-panel-description>Insira os produtos comprados</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col s12 m3 l3">
                    <mat-form-field class="produto">
                        <input matInput type="text" placeholder="Selecione o produto" [matAutocomplete]="autoProduct"
                            required>
                        <mat-autocomplete #autoProduct="matAutocomplete">
                            <mat-option *ngFor="let element of this.produtoList"
                                (onSelectionChange)="setProduto(element)" [value]="element.dsProduto">
                                {{element.dsProduto + " - " + element.dsModelo}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Quantia" type="number" [(ngModel)]="item.qtProduto"
                            (keyup)="this.calculaCustoTotal()" required>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Custo unitário" type="number" [(ngModel)]="item.vlCusto"
                            (keyup)="this.calculaCustoMedio()" required>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Custo médio" type="number" [(ngModel)]="item.vlCustoMedio"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Total Custo" type="number" [(ngModel)]="item.vlTotal" disabled>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Margem de lucro (%)" type="number"
                            [(ngModel)]="tbPreco.nrMargemLucro" (keyup)="this.calculaPrecoVenda()" required>
                    </mat-form-field>
                </div>
                <div class="col s12 m1 l1">
                    <mat-form-field>
                        <input matInput placeholder="Valor de venda" type="number" [(ngModel)]="tbPreco.vlTotal"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col footer-btn">
                    <div class="button-col col s12">
                        <button mat-raised-button color="grey" (click)="this.addItem()">Adicionar Item +</button>
                    </div>
                </div>
            </div>
            <!--#region Tabela de Itens-->
            <mat-table #table [dataSource]="this.itemDataSource" matSort class="table-striped">
                <ng-container matColumnDef="dsProduto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Produto</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.produto.dsProduto}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="qtProduto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.qtProduto}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="vlCusto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Custo unitário</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{"R$" + element.vlCusto}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="vlTotal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Custo Total</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{"R$" + element.vlTotal}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="editColumn">
                    <mat-header-cell *matHeaderCellDef>Edição</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <mat-icon (click)="this.callUpdate(element.cdNotaEntrada)">edit</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon (click)="this.deleteConfirmation(element.cdNotaEntrada)">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="this.itemColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: this.itemColumns;"></mat-row>
            </mat-table>
            <!--#endregion-->
            <div class="col s12 m1 l1">
                <mat-form-field>
                    <input matInput placeholder="Total da nota" type="number" [(ngModel)]="notaEntrada.vlTotal"
                        disabled>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<!--#endregion-->
<!--#region BOTOES-->
<div class="row">
    <div class="col s12 m12 l12">
        <div class="row footer-btn">
            <div class="button-row col s12">
                <button mat-raised-button color="grey" (click)="this.backward()">Cancelar</button>
                <button mat-raised-button color="blue" (click)="this.save()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->